html, body, main {
  position: fixed;
  width: 100%;
  height: 100vh;
  margin: 0;
  background: #5e749d;
  font-family: 'Monserratt ', sans-serif;
  overflow: hidden
}

.loader {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  z-index: 9999;
  background: url('../img/loading.gif') 50% 50% no-repeat white;
  opacity: 1;
}

div#footer>div {
  margin-bottom: 10px
}

.c3-legend-item{
  font-size: 12px;
}

button {
  background: #2a4c7e;
  color: #2a4c7e;
}

button .card {
  justify-content: center;
  align-items: center;
}

#buttons :hover {
  background: #2a4c7e;
  color: #ffffff;
  cursor: pointer;
}

.fas {
  /* color: #5c8e53; */
  font-size: 300%;
}

#buttons .card {
  font-weight: bold;
  font-size: 60%;
}

.c3-chart-bars {
stroke: white;
  color: white;
}

.icons {
  justify-content: center;
  align-items: center;
}

#demo {
  font-size: 14px
}

#demo>h5 {
  font-family: 'Monserratt ', sans-serif;
  font-weight: bold;
  font-size: 16px
}

#demo>li {
  /* padding: 5px; */
  margin-left: 10px;
  line-height: 20px;
}

.c3-legend-background {
  fill: transparent;
  stroke: transparent;
}

/* #info {
  position: absolute;
  width: 25%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 1000;
  background: #5c8e53;
  color: #2a4c7e;
  opacity: 1;
  padding: 5px 15px 20px 20px;
} */

#dashboard {
  position: absolute;
  width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  z-index: 1000;
  background: #5c8e53;
  color: #2a4c7e;
  opacity: 1;
  padding: 5px 20px 15px 20px;
}

.card-deck .card {
  background: #ffffff;
  padding: 2px;
  margin-right: 2px;
  margin-left: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.card-body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.card-title {
  color: #2a4c7e;
  font-size: 16px;
  margin-bottom: 0rem;
  font-weight: bold;
}

.card-text {
  font-size: 40px;
  text-align: center;
}

#info h4 i {
  font-size: 1.25e;
  padding-right: 10px
}

#title {
  /* margin-bottom: 30px; */
  font-size: 25px;
  font-family: 'Monserratt ', sans-serif;
}

/* 4.	Brand guide – our web font is Georgia, Monserratt gets used for infographics, documents are Arial or Calibri.  */
#title span {
  font-size: 18px;
  float: right;
}

span {
  margin-right: 10px;
}

#info a {
  color: #5c8e53;
}

#dashboard a {
  color: #5c8e53;
}

#info a:hover {
  color: #2a4c7e;
  opacity: 0.7;
}

#dashboard a:hover {
  color: #2a4c7e;
  opacity: 0.7;
}

#date {
  position: relative;
  top: -20px;
  font-size: 14px;
  color: danger;
}

#placename {
  font-size: 40px;
  position: relative;
  font-family: 'Monserratt ', sans-serif;
}

#hint {
  position: relative;
  top: -20px;
  width: 5000px;
  color: gray;
  font-size: 13px;
  font-style: italic;
  text-decoration: underline;
  left: -10px;
}

.counts {
  margin-top: 0px;
}

text {
  fill: #2a4c7e
}

.tick line {
  stroke: gray;
}

.c3-axis path {
  stroke: gray;
}

.name {
  background-color: black;
  color: black
}

.value {
  background-color: black;
  color: black
}

#footer {
  position: relative;
  top: 40px;
  bottom: 10px;
  font-size: 13px;
  line-height: 150%;
  color: lightgray;
  margin-bottom: 50px;
}

#footer>div {
  font-size: 13px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.memberimg img {
  height: 15%;
  width: 15%;
}

#title2 img {
  height: 100%;
  width: 15%;
  float: left;
  padding-left: 15px;
}

.column {
  float: right;
  width: 50%;
  padding: 5px;
}

.twitter-timeline {
  min-width: none;
}

p {
  font-size: 16px;
  margin: 5px 5px 5px 5px;
}

#disclaimer p {
  font-size: 12px;
  /* text-align: center; */
}

#blurb i {
  text-align: center;
  padding-top: 5%;
}

#blurb p {
  padding: 5% 10% 10% 10%;
  font-weight: 600;
}

#info #blurb i {
  text-align: center;
  padding-top: 5%;
}

#info #blurb p {
  padding: 5% 5% 5% 5%;
  font-weight: 600;
  font-size: 14px;
}

#blurb a {
  /* font-weight: 0; */
}

@media only screen and (max-width: 1026px) {

  #info {
    visibility: hidden !important;
  }

}
